* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}

.header_li>a {
  color: white;
}

.button {
  color: #1F3347;
  font-weight: 800;
  border: 0;
}

.button:active {
  border: 1px solid;
}

.header {
  background: url(https://sun9-47.userapi.com/impg/57wKvJCFuYbQ325Rcmy3NqVxx1PZtD7ZfOz7rw/UBflvtQLU7U.jpg?size=1280x600&quality=96&sign=4eebf24907ee03dcac49624b9e1d0abd&type=album) no-repeat center;
  padding: 20px;
  background-size: cover;
  height: 900px;
}

.header>.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}

.header_logo {
  display: flex;
  font-size: 36px;
  font-weight: 600;
}

.header_nav {

}

.header_ul {
  display: flex;
  flex-wrap: wrap;
  height: 56px;
  align-items: center;
  gap: 20px;
  padding-bottom: 118px;
}

.header_li {
  font-size: 16px;
  font-weight: 600;
}

.header_li:nth-last-child(2) {
  padding-right: 30px;
}

.header_li:last-child {
  padding-right: 27px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  border-radius: 4px;
  background: #FFC814;
}

.main_title {
  max-width: 488px;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  padding-bottom: 17px;
}

.main_subtitle {
  max-width: 563px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 37px;
}

.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main_button-read {
  background: white;
}

.main_info {
  padding-bottom: 118px;
}

.main_booking-tab{
  height: 207px;
  background: white;
}